@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.page {
    font-family: "Open Sans", system-ui;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: relative;
    padding-bottom: 340px;
}

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 18rem));
    justify-content: center;
    transition: all 0.5s ease;
}

.filter_box {
    margin-top: 2rem;

}


.container {

    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(99, 37, 37, 0.4);
    position: relative;


}


.slide_item {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-fit: contain;
    object-position: center;



}


@media screen and (max-width: 660px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}